# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# VSCode
.vscode/

# IDE
.idea/
*.swp
*.swo

# Environment variables (สำคัญ!)
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite

# MacOS
.DS_Store